{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  
    <form action="/sell" method="post">
        
        <div class="form-group">
            <label for="symbol">Select a Symbol:</label>
            <select name="symbol">
                {% for row in rows%}
                <option value= "{{row['symbol']}}">{{row['symbol'].upper()}}</option>
                {% endfor %}
             </select>
        </div>
        
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Sell</button>        
                
    </form>
    
    
            
           
{% endblock %}
